.main-menu__link {
  position: relative;
  width: 31%;
  height: auto;
  aspect-ratio: 1 / 0.6;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 25px;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  -webkit-box-shadow: 0px 6px 20px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 20px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 20px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: background-size 0.3s ease;
}

.main-menu__link:hover {
  background-size: 125%;
}

a[data-title="Завтраки"] {
  background-image: url(../../../../public/assets/img/breakfasts.png);
}
a[data-title="Салаты"] {
  background-image: url(../../../../public/assets/img/salads.png);
}
a[data-title="Горячее"] {
  background-image: url(../../../../public/assets/img/hotter.png);
}
a[data-title="Десерты"] {
  background-image: url(../../../../public/assets/img/desserts.png);
}
a[data-title="Закуски"] {
  background-image: url(../../../../public/assets/img/snacks.png);
}
a[data-title="Напитки"] {
  background-image: url(../../../../public/assets/img/drinks.png);
}

.main-menu__item-title {
  font-size: 24px;
  font-weight: 600;
  color: #424242;
}
