/* CHIEF */

.section__chief {
  margin-bottom: 40px;
}

.section__chief-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section__chief-image {
  width: 429px;
  height: 426px;
}

.section__chief-content-block {
  width: 512px;
}

.section__chief-content-heading {
  font-size: 32px;
  font-weight: 700;
  color: #424242;
  margin-bottom: 25px;
}

.section__chief-content-description {
  font-size: 18px;
  font-weight: 400;
  color: #424242;
  text-align: justify;
}
