.profile-card{
    width: 30%;
    height: clamp(6rem, 5.6296rem + 1.8519vw, 7.25rem);
    padding: 10px;
    border-radius: 20px;
    background-color: #E0F1FF;
}

.profile-card-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    overflow: auto;
}

.profile-card-avatar{
    min-width: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    min-height: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    max-width: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    max-height: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    margin-right: 15px;
    border-radius: 50%;
}

.profile-card-name{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.profile-card-tel{
    font-size: 16px;
    font-weight: 400;
}

.profile-card-edit-button{
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .2s ease, transform .2s ease;
}

.profile-card-edit-button:hover{
    background-color: rgba(159, 191, 239, 1);
}

.profile-card-edit-button:active{
    transform: scale(0.95);
}

.profile-card-info{
    width: 100%;
}

.profile-card-info * input{
  width: 80%;
  padding: 4px 4px;
}

.profile-card-info * label {
    display: none;
}

.profile-card-info * .invalid-message{
    font-size: 10px;
}

.custom-file-upload {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    min-height: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    max-width: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    max-height: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    margin-right: 15px;
    border-radius: 50%;
}

.custom-file-upload label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    min-height: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    max-width: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    max-height: clamp(4.75rem, 4.3796rem + 1.8519vw, 6rem);
    background: rgba(62, 62, 75, 0.705);
    outline: 0;
    border: 0;
    width: 100%;
    border-radius: 50%;
    font-family: inherit;
    cursor: pointer;
    color: #FFF;
    padding: 15px;
    text-align: center;
    font-size: clamp(0.625rem, 0.5509rem + 0.3704vw, 0.875rem);
}

.custom-file-upload input {
    display: none;
}